* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

main {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 55vw;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    background-color: aliceblue;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    text-align: center;
}
form {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}
form input, form button {
    padding: 0.5rem 1rem;
    width: 55%;

    border-radius: 1rem;
}
section {
    width: 100%;
}
section div {
    margin: 0 auto;
    max-width: 350px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    vertical-align: baseline;
    gap: 0.5rem;
    

}
